/public/
/out/
/dist/
/firebase-debug.log
/.idea/
/jsc.iml
/.firebase/
*.webp


.terraform/
terraform.tfstate
terraform.tfstate.backup

# Generated credentials from google-github-actions/auth.
/gha-creds-*.json
