{{ define "title" }}{{ .Title }}{{ end }}
{{ define "content" }}
    {{- /*gotype: github.com/jschaf/b2/pkg/markdown/html.RootIndexData*/ -}}
    <section>
        {{range $i, $post := .Posts}}
            <a href="/{{$post.Slug}}">
                {{$post.Title}}
            </a>
            {{if not (isLast $i $.Posts)}}
              <hr class="article-split">
            {{end}}
        {{end}}
    </section>
{{ end }}
